@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    border:none;
}

h1{
    margin: 0;
}


.container{
    width: 1077px;
    margin: 0 auto;
}

 

header.header{
    padding: 36px 0px;
    /* background-color: rgb(28, 28, 73); */
    background-color: #00244E;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo img{
    padding-right: 25px;
}

.header__lang{
    border: 2px solid #00FEFF;
    border-radius: 50%;
    /* padding: 8px 5px; */
}

.header__lang p{
    font-family: Montserrat;
    font-weight: bold;
    color: #00FEFF;
    padding: 8px 5px;
}


nav.header__menu a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    padding-right: 39px;
}

nav.header__menu a:nth-child(3){
    padding-right: 0;
}

.header__phone-item{
    display: flex;
    align-items: center;
}

.header__phone-item p{
    color: white;
    padding-right: 11px;
}

.header__phone-item span{
    color: white;
    font-weight: 700;
}

.header__burger{
    display: none;
} 

.header__menu-phone{
    display: flex;
    justify-content: center ;
    width: 100%;
    /* position: absolute; */
    top: 0;
    background-color: white;
    right: -450px;
}

.header__menu-phone__wrapper{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__menu-phone_logo{
    display: flex;
    /* align-items: flex-start; */
}

.header__menu-phone_phone-item{
    display: flex;
}

.hero{
    background: url('./img/bgHero2.jpg') 50% 50%/cover no-repeat;
    height: 100vh;
}

@media(max-width: 501px){
    .hero{
        background-image: url('./img/bgHeroPhone.jpg');
        background-size: cover;
        width: 1200px;
        height: 659px;
        /* background: url('./img/bgHeroPhone.jpg') 100% 100%/none no-repeat; */
    }
}


.hero__wrapper{
    padding-top: 150px;
}

.hero__title h1{
    color: #00FEFF;
    font-size: 50px;
    font-weight: 900;
    width: 586px;
    margin-bottom: 78px;
    line-height: 110%;
}

.hero__title p{
    color: #00FEFF;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 2px;
}

.hero__text p{
    font-size: 18px;
    width: 221px;
    color: white;
}

.hero__text p span{
    font-weight: 700;
    font-size: 24px;
}

.hero__footer{
    padding-top: 28px;
}

.hero__footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero button{
    background: #00FEFF;
    display: flex;
    align-items: center;
    padding: 14px 22px;
    /* margin-right: 337px; */
}

.hero button p{
    padding-right: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero__footer-text p{
    font-size: 14px;
    width: 460px;
    text-align: right;
    color: white;
}

.about-us{
    padding-top: 90px;
    padding-bottom: 61px;
}

.about-us__title h1{
    font-size: 50px;
    color: #001E42;
    font-weight: bold;
}

.about-us__wrapper{
    display: flex;
    justify-content: space-between;
}

.about-us__text p{
    width: 821px;
}


@media(max-width: 501px){
    .container{
       /* width: 1000px;   */
       padding: 0px 20px;
    }

    header.header{
        width: 1200px;
    }

    .header__lang{
        display: none;
    }

    nav.header__menu{
        display: none;
    }

    .header__burger{
        display: block;
    }
    
    .header__phone{
        display: none;
    }

    .hero__footer-wrapper{
        display: block;
    }

    .hero__footer-text p{
        text-align: left;
        padding-bottom: 26px;
    }

    .hero__btn button{
        margin-bottom: 37px;
    }

    .hero__title h1{
        width: 333px;
        padding-bottom: 46px;
        font-size: 40px;
        margin: 0;
    }

    .hero__title p{
        width: 222px;
        padding-bottom: 1px;
    }

    .about-us__wrapper{
        display: block;
    }
}