@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    border:none;
}

h1{
    margin: 0;
}


.container{
    width: 1077px;
    margin: 0 auto;
}

 

header.header{
    padding: 36px 0px;
    /* background-color: rgb(28, 28, 73); */
    background-color: #00244E;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo img{
    padding-right: 25px;
}

.header__lang{
    border: 2px solid #00FEFF;
    border-radius: 50%;
    /* padding: 8px 5px; */
}

.header__lang p{
    font-family: Montserrat;
    font-weight: bold;
    color: #00FEFF;
    padding: 8px 5px;
}


nav.header__menu a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    padding-right: 39px;
}

nav.header__menu a:nth-child(3){
    padding-right: 0;
}

.header__phone-item{
    display: flex;
    align-items: center;
}

.header__phone-item p{
    color: white;
    padding-right: 11px;
}

.header__phone-item span{
    color: white;
    font-weight: 700;
}

.header__burger{
    display: none;
} 

.header__menu-phone{
    display: flex;
    justify-content: center ;
    width: 100%;
    /* position: absolute; */
    top: 0;
    background-color: white;
    right: -450px;
}

.header__menu-phone__wrapper{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__menu-phone_logo{
    display: flex;
    /* align-items: flex-start; */
}

.header__menu-phone_phone-item{
    display: flex;
}

.hero{
    background: url('./img/bgHero2.jpg') 50% 50%/cover no-repeat;
    height: 100vh;
}

@media(max-width: 501px){
    .hero{
        background-image: url('./img/bgHeroPhone.jpg');
        background-size: cover;
        width: 1200px;
        height: 659px;
        /* background: url('./img/bgHeroPhone.jpg') 100% 100%/none no-repeat; */
    }
}


.hero__wrapper{
    padding-top: 150px;
}

.hero__title h1{
    color: #00FEFF;
    font-size: 50px;
    font-weight: 900;
    width: 586px;
    margin-bottom: 78px;
    line-height: 110%;
}

.hero__title p{
    color: #00FEFF;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 2px;
}

.hero__text p{
    font-size: 18px;
    width: 221px;
    color: white;
}

.hero__text p span{
    font-weight: 700;
    font-size: 24px;
}

.hero__footer{
    padding-top: 28px;
}

.hero__footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn button{
    background: #00FEFF;
    display: flex;
    align-items: center;
    padding: 14px 22px;
    /* margin-right: 337px; */
}

.btn button p{
    padding-right: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero__footer-text p{
    font-size: 14px;
    width: 460px;
    text-align: right;
    color: white;
}

.about-us{
    padding-top: 90px;
    padding-bottom: 149px;
}

.about-us__title h1{
    font-size: 50px;
    color: #001E42;
    font-weight: bold;
}

.about-us__wrapper{
    display: flex;
    justify-content: space-between;
}

.about-us__text p{
    width: 821px;
}

.service{
    padding-bottom: 70px;
}

.service__title h1{
    font-size: 50px;
    font-weight: 700;
    color: #001E42;
    padding-bottom: 52px;
}

.service__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.service__item{
    padding-right: 106px;
    padding-bottom: 63px;

    display: flex;
    align-items: center;
}

.service__item:nth-child(3),
.service__item:nth-child(6){
    padding-right: 0;
}

.service__item-img{
    padding-right: 26px;
}

.service__item-text p{
    font-weight: 700;
    color: #001E42;
    width: 166px;
}

.working{
    padding-bottom: 125px;
}

.working__title h3{
    font-weight: 700;
    color: #001E42;
    font-size: 24px;
    padding-bottom: 31px;
}

.working__wrapper{
    display: flex;
}

.working__item p{
    font-weight: 400;
    color: #252D37;
    width: 529px;
    height: 182px;
    padding-right: 32px;
}

.w-item2 p{
    padding-right: 0;
}

.goal{
    padding-bottom: 111px;
}

.goal__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal__text h2{
    width: 521px;
    font-weight: 700;
    color:#001E42;
}

.order{
    padding-bottom: 115px;
}


.order__title h3{
    color: #001E42;
    font-size: 24px;
    padding-bottom: 31px;
}

.order__wrapper{
    display: flex;
}


.order__item{
    position: relative;
    padding-right: 82px;

    display: flex;
    align-items: center;
}

.order__text{
    z-index: 1;
}

.order__text p{
    color: #001E42;
}

.order_num1{
    padding-left: 15px;
    padding-top: 25px;
}

.order_num2{
    padding-left: 30px;
    padding-top: 50px;
}

.order_num3{
    padding-left: 30px;
    padding-top: 25px;
}


/* .order__text:nth-child(2){
    z-index: 1;
    padding-left: 28px;
    padding-top: 50px;
} */

.order__text{
    font-size: 18px;
    font-weight: 700;
    width: 300px;
}

.order__number{
    z-index: 0;
    position: absolute;
    left: 0;
}

.order__number p{
    font-size: 96px;
    color: #00FEFF;
    font-weight: 700;
}

.prices{
    padding-bottom: 81px;
}

.prices__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prices__text h1{
    font-size: 50px;
    color: #001E42;
    padding-bottom: 33px;
}

.price__desc p{
    width: 529px;
    color: #252D37;
    padding-bottom: 22px;
}

.price__desc p span{
    font-weight: bold;
}

.prices__btns{
    display: flex;
    align-items: center;
}

.price__btn-wrapper{
    display: flex;
    align-items: center;

    border: 2px solid #001E42;
    padding: 13px 22px;
}

.price__btn{
    cursor: pointer;
    transition: background-color .5s linear;
    margin-right: 22px;
    padding: 4px 5px;
}

.price__btn-wrapper:nth-child(2){
    margin-right: 0;
}

.price__btn-wrapper p{
    padding-right: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* dark */

    color: #001E42;
}

.price__btn:hover{
    background-color: #F2F2F2;
}

.price__cards-wrapper{
    display: flex;
    align-items: center;
}

.prices__cards-item{
    padding: 40px 19px;
    text-align: center;
    border: 2px solid #001E42;
    margin-right: 12px;
}

.price__cards-top h3{
    padding-bottom: 16px;
    font-weight: normal;
    color: #001E42;
    font-size: 18px;
}

.price__cards-bottom h3{
    font-weight: normal;
    color: #001E42;
    font-size: 18px;    
}

.price-cards-title2 h2{
    /* font-size: 26px; */
    line-height: 140%;
    /* or 36px */

    text-align: center;
    text-transform: uppercase;

    /* dark */

    color: #001E42;
}

.price h2{
    font-size: 70px;    
    line-height: 115%;
    /* or 80px */

    text-align: center;

    /* dark */

    color: #001E42;
}

.price-cards p{
    padding-bottom: 28px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* dark */

    color: #001E42;
}


.clients__title h1{
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */


    /* dark */

    color: #001E42;
}

.clients__wrapper img{
    padding-right: 60px;
}

.clients__wrapper img:nth-child(5){
    padding-right: 0;
}






/* Адаптив под мобилки */

@media(max-width: 501px){
    .container{
       padding: 0px 15px;
    }

    header.header{
        width: 1200px;
    }

    .header__lang{
        display: none;
    }

    nav.header__menu{
        display: none;
    }

    .header__burger{
        display: block;
    }
    
    .header__phone{
        display: none;
    }

    .hero__footer-wrapper{
        display: block;
    }

    .hero__footer-text p{
        text-align: left;
        padding-bottom: 26px;
    }

    .hero__btn button{
        margin-bottom: 37px;
    }

    .hero__title h1{
        width: 333px;
        padding-bottom: 46px;
        font-size: 40px;
        margin: 0;
    }

    .hero__title p{
        width: 222px;
        padding-bottom: 1px;
    }

    .about-us__wrapper{
        display: block;
    }

    /* Конец адапитивной верстики */
}
